.profile__user-specialization {
  margin: 0;
  padding-top: 12px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 660px) {

  .profile__user-specialization {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

}
