.profile__edit-button {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-bottom: 26px;
  margin-left: 12px;
  cursor: pointer;
  transition: .1s cubic-bezier(.18,.89,.32,1.28);
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 660px) {

  .profile__edit-button {
    width: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

}
