.profile__user-description {
  max-width: 400px;
  /* min-width: 270px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-right: 18px;
}

@media screen and (max-width: 660px) {

  .profile__user-description {
    margin-top: 28px;
  }

}
