.popup__input {
  width: calc(100% - 72px);
  margin-bottom: 30px;
  min-height: 30px;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 580px) {

  .popup__input-specialization {
    width: calc(100% - 44px);
  }

}
