.footer__title {
  margin: 0;

  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

@media screen and (max-width: 660px) {

  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }

}
