.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #ffffff;
  font-size: 36px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .1s cubic-bezier(.18,.89,.32,1.28);
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 960px) {

  .profile__add-button {
    margin-top: 36px;
    width: 585px;
  }

}

@media screen and (max-width: 660px) {

  .profile__add-button {
    width: 282px;
  }

}




