.profile__avatar {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  cursor: pointer;
  /* background: url(../../../images/user-avatar.jpg) no-repeat center;
  background-size: contain; */
  border-radius: 50%;
  transition: .1s cubic-bezier(.18, .89, .32, 1.28);
  
}

.profile__avatar:hover {
  opacity: .8;
}

/* .profile__avatar:hover + .profile__avatarImage {
  display: block;  
} */

@media screen and (max-width: 660px) {

  .profile__avatar {
    margin-right: 0;
  }

}
