.popup-form__button {
  width: calc(100% - 72px);
  height: 50px;
  border: 0;
  border-radius: 2px;
  background-color: black;
  margin-top: 48px;

  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
  transition: .2s ease;
}

.popup-form__button:hover {
  opacity: .8;
}
