.popup__close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  border: none;
  outline: none;
  background: url(../../../images/close-icon.svg) no-repeat center;
  background-size: contain;
  top: calc(50% - 200px);
  right: calc(50% - 250px);
  cursor: pointer;
  transition: .1s ease;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {

  .popup__close-button {
    width: 22px;
    top: calc(50% - 210px);
    right: calc(50% - 141px);
  }

}
