.popup__input-specialization {
  width: calc(100% - 72px);
  margin-bottom: 0px;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, Arial, sans-serif;
}

@media screen and (max-width: 580px) {

  .popup__input-specialization {
    width: calc(100% - 44px);
  }

}
