.popup__save-button {
  width: calc(100% - 72px);
  height: 50px;
  border: 0;
  border-radius: 2px;
  background-color: black;
  margin-top: 48px;

  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
  transition: .1s ease;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 580px) {

  .popup__save-button {
    width: calc(100% - 44px);
    margin-top: 45px;
  }

}
